{% extends "index.html" %}

{% block title %} Detail {% endblock %}

{% block content %}
    <div class = "conteiner">
        <h3>
            Detalhes dos Funcionarios
        </h3>

        <table class = "talbe table-bordered">
            <tbody>
                {% for object in object_list %}
                <tr>
                    <th scope = "row">Matricula</th>
                    <td>{{ object.matricula }}</td>
                </tr>

                <tr>
                    <th scope = "row">nome</th>
                    <td>{{ object.nome }}</td>
                </tr>

                <tr>
                    <th scope = "row">Funçao</th>
                    <td>{{ object.Funçao }}</td>
                </tr>
                {% endfor %} 
            </tbody>
        </table>

        <h3>
            Veiculo
        </h3>

        <table class = "talbe table-bordered">
            <tbody>
                <tr>
                    <th scope = "row">Placa</th>
                    <td>{{ object.placa }}</td>
                </tr>

                <tr>
                    <th scope = "row">marca</th>
                    <td>{{ object.marca }}</td>
                </tr>

                <tr>
                    <th scope = "row">Funçao</th>
                    <td>{{ object.Tipo_de_entrega }}</td>
                </tr>
            </tbody>
        </table>

        <h3>
            Objetos da Entrega
        </h3>

        <table class = "talbe table-bordered">
            <tbody>
                <tr>
                    <th scope = "row">Objetos</th>
                    <td>{{ object.objetos }}</td>
                </tr>
            </tbody>
        </table>
        <a href="{%url 'main:entrega_detail' %}">Voltar</a>
    </div>
{% endblock %}
