{% extends "index.html" %}

{% block title %} Listagem de Endereços {% endblock %}

{% block content %}
 <div class = "conteiner">
    <h3>Listagem de veiculos</h3>
        <ul>
            {% for object in object_list %}
                <li>
                    {{ object }}
                     - 
                    {% if object.em_uso %}
                        esta em uso
                    {% else %}
                        nao esta em uso
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    <a class = "btn btn-info" href="{% url 'main:create_veiculo' %}">Criar</a>
    <a class = "btn btn-primary" href ="{%url 'main:gerenciador_home' %}">Voltar</a>
 </div>
{% endblock %}
