{% extends "index.html" %}

{% block title %} Listagem de Endereços {% endblock %}

{% block content %}
<div class = "conteiner">
    <h3>Listagem de veiculos</h3>
    <table class = "table">
        <thead>
            <tr>
                <th>Placa</th>
                <th>Capacidade</th>
                <th>Em uso</th>
            </tr>
        </thead>

        <tbody>
            {% for object in object_list %}
                <tr>
                    <td>{{ object.placa }}</td>
                    <td>{{ object.capacidade }}</td>
                    <td>
                        {% if object.em_uso %}
                            sim
                        {% else %}
                            nao
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a class = "btn btn-info" href="{% url 'main:create_veiculo' %}">Criar</a>
    <a class = "btn btn-primary" href ="{%url 'main:gerenciador_home' %}">Voltar</a>
 </div>
{% endblock %}
