{% extends "index.html" %}

{% block title %} Listagem de Endereços {% endblock %}

{% block content %}
 <div class = "conteiner">
    <h3>Listagem de produtos</h3>
    <table class = "table">
        <thead>
            <th> Produto </th>
            <th> Quantidade </th>
            <th> Peso(kg) </th>
            <th> Espaço total ocupado por produto(cm³)</th>            
        </thead>

        <tbody>
        {% for object in object_list %}
            <tr>
                <td>{{ object }}</td>
                <td>{{ object.quantidade }}</td>
                <td>{{ object.calcula_peso }}</td>
                <td>{{ object.get_espaco_total }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class = "btn btn-info" href="{% url 'main:create_objeto' %}">Criar</a>
    <a class = "btn btn-primary" href ="{%url 'main:gerenciador_home' %}">Voltar</a>
 </div>
{% endblock %}
